<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <button type="button"  onclick="addProyectoFile({{ idfolder }});" class="btn btn-medium btn-icon btn-circle btn-white new-file"><i class="fa fa-upload"></i></button>
                </div>
                <h2 style="font-size: 14px" class="panel-title"><i class="fa fa-2x fa-file-o"></i>  {% if proyecto is not null %}{{ proyecto.nombre }}{% endif %}</h2>
            </div>
            <div id="viewer" class="panel-body">

            </div>
        </div>
    </div>
</div>