{% extends '::base_ajax.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h2 style="font-size: 14px" class="panel-title">{{ singular }}</h2>
                </div>

                <div class="panel-body">
                    <form id="the-form" action="{{ path('app_go_newnotetask', { 'id': id }) }}" method="POST">
                        {{ app_macros.app_style_form(form) }}

                        <div class="col-md-12" align="right">
                            <button id="save" type="submit" class="btn btn-primary btn-medium">Guardar</button>

                        </div>
                        <div class="hide">
                            {{ form_rest(form) }}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}