{% extends '::base_ajax.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h2 style="font-size: 14px" class="panel-title">Agregar Usuarios a Grupo de Correo</h2>
            </div>
            <div class="panel-body">
                <form id="the-form" action="{{ path('app_group_add_user', { 'idgrupo': idgrupo }) }}" method="POST">
                    <div class="form-group">
                        <label>Usuarios</label>
                        <select multiple class="form-control" name="userarray[]" id="userarray">
                            {% for usuar in usuarios %}
                                <option value="{{ usuar.id }}"
                                        {% if usuar in usgr %}
                                            selected="selected"
                                        {% endif %}
                                >{{ usuar.fullName }}</option>
                            {% endfor %}
                        </select>
                        <div id="errorselect" class="btn btn-danger btn-xs disabled hide">
                            Este campo no puede estar vacio
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function() {
        $('#userarray').select2(
        {width: '100%' }
        );

    }, 100);
    function errorfile(variable){

        if(variable == 'input') {

            $('#errorinput').removeClass('hide');
            setTimeout(function() {
                $('#errorinput').addClass('hide');
            }, 6000);
        }else{
            $('#errorselect').removeClass('hide');
            setTimeout(function() {
                $('#errorselect').addClass('hide');
            }, 6000);
        }
    }
</script>
{% endblock %}