{% extends '::base_ajax_error_label.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h2 style="font-size: 14px" class="panel-title">{{ singular }}</h2>
                </div>
                <div class="panel-body">
                    <form id="the-form" action="{{ path(routes.edit, { id: entity.id }) }}" method="POST" enctype="multipart/form-data">
                        <div class="panel panel-inverse">
                            <div class="panel-body">
                                {{ app_macros.app_style_form(form) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            //($('input[type=date]').datepicker();
            $('.js-datepicker').datepicker(
                { dateFormat: 'dd-mm-yy' }
            );
        });
    </script>
{% endblock %}