<div class="form-group row m-b-10">
    <label class="col-md-3 col-form-label">Asignar Menu</label>
        {% for menu in menus %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheckbox">>
                <label class="form-check-label" for="defaultCheckbox">{{ menu.title}}</label>
            </div>
        {% endfor %}
    </ul>
</div>


<a href="{{ path('category_level', { 'id': menu.id, 'pagina': 0 }) }}">{{ menu.title}}</span></a>